@import url("./font/stylesheet.css");

:root {
  --page-background: #ffffff;
  --default-container-padding: 3em;

  /* Banner */
  --banner-background: #bbeaff;
  --banner-font-family: 'Cisco Sans';

  /* Exhibit */
  --exhibit-header-background: #eeeeee;
  --exhibit-background: #dddddd;

  /* Card */
  --card-background: #bbeaff;

}