@import url("../../assets/theme.css");

.exhibit-container {
  margin-top: 4em;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.exhibit-header {
  background: var(--exhibit-header-background);
  padding: var(--default-container-padding);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.exhibit-header-title {
  font-weight: 700;
  font-size: 2em;
}

.exhibit-background {
  background: var(--exhibit-background);
  padding: var(--default-container-padding);
  flex-grow: 1;
}

.exhibit {
  
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
}